<!DOCTYPE html>
<html lang="en">
<head>
    <title>Blackjack</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="container">
      <div class="row" id="pwd-container">
          <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
            
            <h2 align="center">BLACKJACK</h2>
            <h2 align="center" id="timer" hidden></h2>
            <h4><div id="server-message">connecting to server..</div></h4>
            <div class="form-group">
                <input type="text" class="form-control input-lg" id="username" name="username" placeholder="name">
            </div>
            <button id="startGame_button" class="btn btn-lg btn-primary btn-block">Start Game</button>
            <button id="hit_button" class="btn btn-lg btn-primary btn-block">Hit!</button>
            <button id="stand_button" class="btn btn-lg btn-primary btn-block">Stand!</button>
            <button id="leaderboard_button" class="btn btn-lg btn-primary btn-block">Leaderboard</button>
            
          </div>
      </div>
    </div>
</body>
</html>

<script>
    ws = new WebSocket("ws://" + location.host);
    let timerIntervalObj = {};
    let COUNTER = 10;
    $('#hit_button').toggle(false);
    $('#stand_button').toggle(false);

    ws.onmessage = function (dataIn) {
        $('#server-message').text(dataIn.data);
        let jsonData ={};
        try{
            jsonData = JSON.parse(dataIn.data);
        }
        catch(err){
            return;
        }
        switch(jsonData.event){
            case 'sc_startGame' : handleStartGame(jsonData.data); break;
            case 'sc_hit' : handleHit(jsonData.data); break;
            case 'sc_stand' : handleStand(jsonData.data); break;
            case 'sc_leaderboard' : handleLeaderboard(jsonData.data); break;
            case 'sc_loseByTimeout' : handleLoseByTimeout(jsonData.data); break;
            default: return;
        }
    };

    function handleStartGame(data){
        if(data.gameStatus === "PLAYING"){
            $('#username').toggle(false);
            $('#startGame_button').toggle(false);
            $('#leaderboard_button').toggle(false);
            $('#hit_button').toggle(true);
            $('#stand_button').toggle(true);
            COUNTER = 10;
            $('#timer').toggle(true);
            $('#timer').text(COUNTER);
            timerIntervalObj = setInterval(function(){
                if(COUNTER > 0) COUNTER --;
                $('#timer').text(COUNTER);
            }, 1000);
        }
    }

    function handleHit(data){
        if(data.gameStatus !== "PLAYING"){
            $('#username').toggle(true);
            $('#startGame_button').toggle(true);
            $('#leaderboard_button').toggle(true);
            $('#hit_button').toggle(false);
            $('#stand_button').toggle(false);
            $('#timer').toggle(false);
            clearInterval(timerIntervalObj);
        }
        else{
            COUNTER = 10;
            $('#timer').text(COUNTER);
        }
    }

    function handleStand(data){
        if(data.gameStatus !== "PLAYING"){
            $('#username').toggle(true);
            $('#startGame_button').toggle(true);
            $('#leaderboard_button').toggle(true);
            $('#hit_button').toggle(false);
            $('#stand_button').toggle(false);
            $('#timer').toggle(false);
            clearInterval(timerIntervalObj);
        }
    }

    function handleLeaderboard(data){
    }

    function handleLoseByTimeout(data){
        $('#username').toggle(true);
        $('#startGame_button').toggle(true);
        $('#leaderboard_button').toggle(true);
        $('#hit_button').toggle(false);
        $('#stand_button').toggle(false);
        $('#timer').toggle(false);
        clearInterval(timerIntervalObj);
    }

    $('#startGame_button').on('click',function (e) {
        let json = {
            "event" : "cs_startGame",
            "data" : {
                "username" : $('#username').val()
            }
        }
        ws.send(JSON.stringify(json));


    });

    $('#hit_button').on('click',function (e) {
        let json = {
            "event" : "cs_hit",
            "data" : {
                "username" : $('#username').val()
            }
        }
        ws.send(JSON.stringify(json));
    });

    $('#stand_button').on('click',function (e) {
        let json = {
            "event" : "cs_stand",
            "data" : {
                "username" : $('#username').val()
            }
        }
        ws.send(JSON.stringify(json));
    });

    $('#leaderboard_button').on('click',function (e) {
        let json = {
            "event" : "cs_leaderboard",
            "data" : {
            }
        }
        ws.send(JSON.stringify(json));
    });
</script>
