img {
    max-width: 10%;
    height: auto;
    padding-bottom: 20px;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

#handInfoText{ 
    font-size: 1.5em;
    font-weight: bold;
}